<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Soroban : Courier invoicing">
    <meta name="author" content="jon trembley">

    <title>Soroban : Courier Invoicing</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
<!--
<link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css"> 
<link rel="stylesheet" href="/css/datatables.min.css"> -->

  </head>

  <body id="page-top sidebar-toggled">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/admin">Soroban Invoicing</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item data-toggle="tooltip" data-placement="right" title="Current User"><a class="nav-link" href="<%= user_path(@conn, :show, @current_user.id) %>">
              <span class="fa fa-fw fa-question"> <%= @current_user.username %></span></a></li>
          <li class="nav-item data-toggle="tooltip" data-placement="right" title="Help"><a class="nav-link" href="/help"> <span class="fa fa-fw fa-question"></span></a></li>
          <li class="nav-item data-toggle="tooltip" data-placement="right" title="Settings"><a class="nav-link" href="/settings"> <span class="fa fa-fw fa-cog"></span></a></li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>

      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav toggled">
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-home fa-lg"></i>
            <span> Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="jobsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-truck-pickup fa-lg"></i>
            <span> Jobs</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="jobsDropdown">
            <a class="dropdown-item" href="/jobs/new"> Add</a>
            <a class="dropdown-item" href="/jobs"> List</a>
            <a class="dropdown-item" href="/joblist"> Archives</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/invoices">
            <i class="fas fa-fw fa-file-invoice-dollar fa-lg"></i>
            <span> Invoices</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-cogs fa-lg"></i>
            <span> Manage</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="manageDropdown">
            <a class="dropdown-item" href="/clients"> Clients</a>
            <a class="dropdown-item" href="/jobtypes"> Job Types</a>
            <a class="dropdown-item" href="/service"> Service Types</a>
            <a class="dropdown-item" href="/users"> Users</a>
            <a class="dropdown-item" href="/settings"> Settings</a>
            <div class="dropdown-divider"></div>                                                                             
            <a class="dropdown-item bg-danger text-white" href="/clear_cache/all"> Clear PDF Cache</a>
          </div>
        </li>

      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Content -->
          <%= render @view_module, @view_template, assigns %>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete , class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript-->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.run(@conn) %>
    <script>require("web/static/js/app").App.sortTable()</script>
    <script> $(".chosen_select").chosen() </script>

    <script type="text/javascript" src="/js/sb-admin-datatables.min.js"></script>
  </body>

</html>
