<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Soroban : Courier invoicing">
    <meta name="author" content="jon trembley">

    <title>Soroban</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Soroban</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
           <%= if @current_user do %>
             <li><a href="<%= user_path(@conn, :show, @current_user.id) %>">
                 <span class="glyphicon glyphicon-user"> <%= @current_user.username %></span></a></li>
              <li><%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete %></li>
              <% else %>
              <li><a href="<%= user_path @conn, :new %>">New user</a></li>
              <li><a href="<%= session_path @conn, :new %>">Login</a></li>
              <% end %>
            <li><a href="/help">Help</a></li>
            <li><a href="/settings"> <span class="glyphicon glyphicon-cog"></span></a></li>
          </ul>

            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li><a href="/admin">Home</a></li>
                        <li class="dropdown">
                          <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Jobs<span class="caret"></span></a>
                          <ul class="nav indent" role="menu">
                            <li><a href="/jobs/new"> Add Job</a></li>
                            <li><a href="/jobs"> View Jobs</a></li>
                            <li><a href="/joblist"> Job Archives</a></li>
                          </ul>
                        <li><a href="/invoices">Invoices</a></li>
                        <li class="dropdown">
                          <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Manage<span class="caret"></span></a>
                          <ul class="nav indent" role="menu">
                            <li><a href="/clients"> Clients</a></li>
                            <li><a href="/jobtypes"> Job Types</a></li>
                            <li><a href="/service"> Service Types</a></li>
                            <li><a href="/users"> Users</a></li>
                            <li><a href="/settings"> Settings</a></li>
                            <li class="bg-danger"><a href="/clear_cache/all"> Clear PDF Cache</a></li>
                          </ul>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
                      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
                    </div>
                </div>
                <!-- /.row -->
             <%= render @view_module, @view_template, assigns %>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.js(@conn) %>
    <script>require("web/static/js/app").App.sortTable()</script>
    <script> $(".chosen_select").chosen() </script>
</body>

</html>
