<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Soroban - Login</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header mx-auto"><h3>Login to Soroban</h3></div>
        <div class="card-body">

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>

  <%= if get_flash(@conn, :error) do %>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> 
  <% end %>

  <div class="form-group">
    <%= text_input f, :email, class: "form-control", placeholder: "User name"  %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= password_input f, :password, class: "form-control", placeholder: "Password" %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <%= submit "Login", class: "btn btn-primary btn-block" %>
  </div>
<% end %>


        </div>
      </div>
    </div>

    <!-- JavaScript-->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>

</html>
