<h2>New job</h2>

<%= render "form.html", changeset: @changeset,
                        services: @services,
                        jobtypes: @jobtypes,
                        action: job_path(@conn, :create) %>

<%= link "Back", to: job_path(@conn, :index) %>
