<div class="col-md-6">
<h2 class="page-header"> Job Type </h2>

<div class="panel panel-default">
<div class="panel-body">

<ul>

  <li>
    <strong>Type:</strong>
    <%= @jobtype.type %>
  </li>

</ul>

    <a href="/jobtype" class="btn btn-secondary" role="button">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"> Back </i>
    </a>
<%= link "Edit", to: jobtype_path(@conn, :edit, @jobtype), class: "btn btn-warning" %>
</div>
</div>
</div>
