<div class="col-md-6">
<h2 class="page-header"> Job Type </h2>

<div class="panel panel-default">
<div class="panel-body">

<ul>

  <li>
    <strong>Type:</strong>
    <%= @jobtype.type %>
  </li>

</ul>

<%= link "Edit", to: jobtype_path(@conn, :edit, @jobtype) %>
<%= link "Back", to: jobtype_path(@conn, :index) %>

</div>
</div>
</div>
