<h2>Show client</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @client.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @client.address %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @client.email %>
  </li>

</ul>

<%= link "Edit", to: client_path(@conn, :edit, @client) %>
<%= link "Back", to: client_path(@conn, :index) %>
