<h2 class="page-header">Edit invoice</h2>

<%= render "form.html", changeset: @changeset,
                        clients: @clients,
                        today: @today,
                        action: invoice_path(@conn, :update, @invoice) %>

<div class="panel-footer">
  <%= link "Back", to: invoice_path(@conn, :show, @invoice), class: "btn btn-default" %>
</div>
</div>
  

