<div class="jumbotron">
  <h2>Welcome to Soroban</h2>
  <p class="lead">Courier Invoicing</p>
  <p><a class="btn btn-primary btn-lg" href="/admin" role="button">Get Started</a></p>
</div>

<div class="row marketing">
</div>

<div class="row marketing">
  <div class="col-lg-6">
  </div>
</div>
